streamlit==1.25.0
transformers==4.38.0
tokenizers==0.15.2
torch==2.0.0
tensorflow==2.13.0
#tf-keras==2.11.0
pandas==2.0.0
numpy<2
Pillow==9.5.0
opencv-python==4.9.0.80
deepface==0.0.79
spotipy==2.23.0

# Deepface dependencies
fire>=0.4.0
Flask>=1.1.2
gdown>=3.10.1
gunicorn>=20.1.0
keras>=2.2.0
mtcnn>=0.1.0
retina-face>=0.0.1
tqdm>=4.30.0

# Transformers dependencies
huggingface-hub>=0.19.3,<1.0
safetensors>=0.4.1
regex
pyyaml>=5.1

# Streamlit dependencies
altair<6,>=4.0
blinker<2,>=1.0.0
cachetools==5.3.1
click<9,>=7.0
gitpython!=3.1.19,<4,>=3.0.7
importlib-metadata==6.11.0
packaging==23.2
protobuf>=3.20,<5
pyarrow>=6.0
pydeck<1,>=0.8
pympler<2,>=0.9
python-dateutil<3,>=2.7.3
rich==13.9.1
tenacity==8.2.3
toml<2,>=0.10.1
tornado<7,>=6.0.3
tzlocal==4.3.1
validators<1,>=0.2
watchdog>=2.1.5

# Other dependencies
requests
